/* main layout */

body {
    background-color: #edeff0;
  
    margin: 0 auto;
  
    display: grid;
    grid-template-columns: [start] 5fr [middle] 1fr [end];
    grid-template-rows: [start] auto [nav] auto [news] 1fr [footer] auto [end];

  }
  
  body > header {
    grid-column: start / end;
    background: url(../images/FEUP_YARD.png) no-repeat left top;
    background-size: cover;
    height:7.5em;
  }
  
  #menu {
    grid-column: start;
  }
  
  aside {
    grid-column: middle;
    grid-row: nav / end;
  }
  
  #main_section {
    grid-column: start;
    grid-row: news;

    margin: auto 1em;
  }

  #init_description {
    margin-bottom: 3em;
  }
  
  body > footer {
    grid-row: footer;
  }
  
  /* header layout */
  
  body > header {
    background-color: #046dd5;
    font-style: italic; 
    color: white;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 2fr;

    /*font exported from google*/
    font-family: "Love Ya Like A Sister", 'Verdana', sans-serif;
  }

  body > header h1, body > header h2{
    margin: 0;
    text-shadow: .2em .2em .2em black;
  }
  
  body > header h1 {
    grid-column: 1;
    grid-row: 1;
  }
  
  body > header h2 {
    grid-column: 1;
    grid-row: 2;
  }
  
  body > header #signup {
    grid-column: 2;
    grid-row: 1;
  }  
  
  body > header a {
    color: white;
    text-decoration: none; 
  }

  body > header #signup > a:hover {
    opacity: 0.5;
  }
  
  body > header #signup a:nth-child(1),body > header #signup a:nth-child(2){
    border-right: 1px solid white;
  }
  
  body > header #signup a {
    padding: 0 1em;
  }
  
  body > header #signup a:first-child {
    padding-left: 0;
  }

   /* aside */
   aside#profile  {
    border: 1px solid #046dd5;
    background-color: #8cc2d4;
  }

  aside#profile > div h3 {
    display:flex;
    align-items: center;
    font-style: italic;
    text-align: center;
    border: 4px outset #044b92;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /*border-radius: 10px;*/
    margin: 0 auto;
    padding: 0.4em 0;
    
  }

  aside#profile > div h3 a{
    color: #046dd5;
    text-decoration: none;
    font-size: 0.8em;
    padding-right: 2em;
  }

  aside#profile div img {
    background-color: white;
    width: 20%;
    height: 20%;
    margin:0 5px 0 10px;
    border-radius: 50%;
  }

  aside#profile > div h4 {
    font-style: italic;
    text-align: center;
  }

  aside#stats  {
    align-items: center;
    text-align: center;
    border: 4px outset #044b92;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0 auto;
    padding: 0.4em 0;
    background-color: #8cc2d4;
  }

  aside#stats label{
    font-weight: bold;
    font-family: "Love Ya Like A Sister" , 'Verdana', sans-serif;
  }

  aside#stats a{
    text-decoration: none;
  }

  aside#stats a:hover{
    border-bottom: 1px solid blue;
  }

  /* navigation */
  
  #menu ul {
    margin: 0;
    padding: 0;
  }
  
  #menu li {
    background-color: white;
    text-align: center;
  
    list-style-type: none;
  
    padding: 1em 0;
  }
  
  #menu li a{
    color: black;
    text-decoration: none;
    font-family: "Love Ya Like A Sister" , 'Verdana', sans-serif;
  }
  
  #menu li:hover {
    background-color: #2a2f33;
    transition: background-color .3s;
  }
  
  #menu li:hover a{
    color: white;
  }

  #menu li:nth-child(1):hover:before{
    content:'\2780 ';
    font-size: 1.6em;
    color:white;
    margin-right: 5px;
    transition: all .5s;
  }

  #menu li:nth-child(2):hover:before{
    content:'\2781 ';
    font-size: 1.6em;
    color:white;
    margin-right: 5px;
    transition: all .5s;
  }

  #menu li:nth-child(3):hover:before{
    content:'\2782 ';
    font-size: 1.6em;
    color:white;
    margin-right: 5px;
    transition: all .5s;
  }

  #menu li:nth-child(4):hover:before{
    content:'\2783 ';
    font-size: 1.6em;
    color:white;
    margin-right: 5px;
    transition: all .5s;
  }

  #menu li:nth-child(5):hover:before{
    content:'\2784 ';
    font-size: 1.6em;
    color:white;
    margin-right: 5px;
    transition: all .5s;
  }

  #menu li:nth-child(1):before {
    content:'\2776 ';
    font-size: 1.2em;
    margin-right: 3px;
  }

  #menu li:nth-child(2):before {
    content:'\2777';
    font-size: 1.2em;
    margin-right: 3px;
  }

  #menu li:nth-child(3):before {
    content:'\2778';
    font-size: 1.2em;
    margin-right: 3px;
  }

  #menu li:nth-child(4):before {
    content:'\2779';
    font-size: 1.2em;
    margin-right: 3px;
  }

  #menu li:nth-child(5):before {
    content:'\277A';
    font-size: 1.2em;
    margin-right: 3px;
  }
  
  /* footer */
  
  body > footer {
    background-color: #2a2f33;
    color: white;
  
    padding: 1em;
    margin: auto 1em;
  
    height: 1em;
    display: flex;
  }
  
  body > footer p {
    margin: 0;
  }
  
  /* fonts */ 
  
  body {
    font-family: 'Verdana', sans-serif;
  }
  
  p {
    font-family: "Georgia", serif;
    line-height: 1.2em;
  }
  
  header h2 {
    font-size: 1em;
  }
  
  header a {
    font-size: 0.8em;
  }

  header h1 a {
    font-size: 1em;
  }
  
  footer {
    font-size: 0.8em;
  }

  #view_profile ,#edit_profile, #register,#login, #add_post, #delete_account {
    font-family: "Love Ya Like A Sister", 'Verdana', sans-serif;
  }
  
  /* menu colors */
  
  #menu li:nth-child(1) {
    border-top: 5px solid #ebee29;
  }
  
  #menu li:nth-child(2) {
    border-top: 5px solid #d83c3c;
  }
  
  #menu li:nth-child(3) {
    border-top: 5px solid #40df3b;
  }
  
  #menu li:nth-child(4) {
    border-top: 5px solid #ff8932;
  }
  
  #menu li:nth-child(5) {
    border-top: 5px solid #19b6e9;
  }

  /*Register, Log in, edit and save profile buttons*/
  form input[type="submit"]:hover {
    cursor: pointer;
    background-color: #2a2f33;
  }

  /* Profile and edit profile header1*/
  #view_profile h1,#edit_profile h1 {
    display: flex;
    justify-content: center;
    margin: 1em auto 0;
  }

  #delete_account {
    position: absolute;
    padding-top: 3em;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  #delete_account form{
    width: 30%;
    border-style: solid;
    border-width: thick;
  }

  #delete_account h2 {
    text-align: center;
  }

  .delete_acct_btn {
    height: 50px;
    width: 150px;
    border-radius: 20px;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    background-color: rgb(117, 21, 21);
    color: #FFFFFF;
    font-size: 15px;
  }

  .delete_acct_btn:hover {
    opacity:0.9;
  }
  
  /* navigation layout */
  
  #menu ul {
    display: flex;
    flex-direction: row;
  }
  
  #menu li {
    display: block;
    flex: 1;
  }

  /*invisible elements in the normal view*/
  body > header #signup a img {
    display:none;
  }

  #hamburger, .hamburger {
    display: none;
  }

  /*comment and years section*/

  .user {
    font-style: italic;
  }

  .user a{
    text-decoration: none;
    color:blue;
  }

  .user a:hover{
    border-bottom: 1px solid blue;
  }

  .date {
    float: right;
    font-style: italic;
    font-size: 0.8em;
    color:gray;
  }

  textarea {
    display: block;
    width: 100%;
    height: 6em;
  }

  #posts {
    position: relative;
    margin: 1em;
    display: inline-block;
    font-family: 'Verdana', sans-serif;
    font-size: 1em;
  }

  #posts > article.post > a:first-child:hover, .comment > a:first-child:hover{
    color:red;
    transition: color .1s;
  }

  #posts > article.post > a:not(:first-child) i:hover, .comment > a:not(:first-child) i:hover{
    animation: shake .5s;
    transform: scale(2);
    color:red;
    transition: color 1s, transform .6s;
  }
  
  #add_post {
    position: absolute;
    padding-top: 3em;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  #add_post form{
    width: 30%;
    border-style: solid;
    border-width: thick;
  }

  #add_post h1 {
    text-align: center;
  }

  #add_post input[type="submit"]:hover , .post input[type="submit"]:hover {
    opacity:0.8;
  }

  .new_post_btn {
    height: 100px;
    width: 200px;
    border-radius: 20px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    background-color: #154150;
    color: #FFFFFF;
    font-size: 20px;
  }

  .new_post_btn:hover {
    opacity:0.9;
  }

  .cancel_btn {
    width: auto;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
    font-size: 0.9em;
  }

  .cancel_btn:hover {
    cursor: pointer;
    background-color: #2a2f33;
  }

  form[id="sortBy"] {
    background-color: white;
    border: 1px solid #046dd5;
    border-radius: 10px;
    color: black;
    margin-top: 1em;
    margin-bottom: 2em;
    width: 30em;
    height: 5em;
    padding: 0em;
  }

  form[id="sortBy"] label {
    font-weight: bold;
  }

  .post {
    margin-bottom: 3em;
    border: 1px solid #046dd5;
    background-color: #b5d5e0;
    border-radius: 10px;
    padding: 1em;
  }

  .post > .subject {
    font-style: normal;
    font-weight: bold;
  }

  .post > .subject:before {
    font-style: normal;
    font-weight: bold;
    content: '[';
  }

  .post > .subject:after {
    font-style: normal;
    font-weight: bold;
    content: ']';
  }
  
  .post > .user:before {
    font-style: normal;
    content: 'Posted by ';
  }

  .post > .user:after {
    font-style: normal;
    content: ':';
  }

  .post > .comment_num > a:after {
    font-style: normal;
    content: ' comments';
  }

  .post > .comment_num > a {
    color: #000000;
    text-decoration: none;
  }

  #comments {
    margin: 1em 0em 1em 1em;
  }
  
  #comments .user:after {
    font-style: normal;
    content: ' said:';
  }
  
  #comments p {
    background-color: #edeff0;
    padding: 1em;
  }
  
  #comments p:before {
    content: '\201C';
    font-size: 3em;
    position: relative;
    top: 15px;
    color: #ccc;
  }
  
  #comments form {
    width: auto;
    margin: 0;
    background-color: #edeff0;
  }
  
  #comments form h2 {
    font-size: 1em;
  }

  .radioButtons {   
    margin-top: 20px;
    margin-bottom: 20px;
 }

  .radioButtons p{   
    text-align: center;
    margin: 1px;
 }

  .radioButtons > label{   
    text-align: center;
    padding: 1px;
    margin: 1px;
    font-weight: bold;
 }

  label[id="picture"] {   
   text-align: center;
   font-weight: bold;
 }

  form {
    background-color: white;
    color: black;
    margin: 2em auto;
    width: 20em;
    padding: 1em;
  }
  
  label {
    padding: 1em;
  }
  
  label, input {
    display: block;
  }
  
  input {
    border: none;
    background-color: white;
    color: black;
    border-radius: 10px;
    border-bottom: 1px solid black;
    margin-top: 1em;
    width: 100%;
    font-size: 0.9em;
  }
  
  input[type=submit] {
    width: auto;
  
    background-color: black;
    color: white;
  
    border: none;
    margin: 1em;
    padding: 1em;
    margin-left: auto;
  }
  
  input:focus {
    outline: none;
    border-bottom: 1px solid #046dd5;
  }
  
  #register h1, #login h1 {
    text-align: center;
  }

  #messages {
    position: absolute;
    padding: 1em;
    margin-top: 3em;
    margin-left: 30%;
    color: red;
    background-color: rgba(0, 0, 0, 0.6);
    width: 20%;
    border-style: solid;
    border-width: thick;
    text-align: center;
    font-weight: bold;
  }

  #no_posts {
    padding: 1em;
    margin-top: 3em;
    margin-left: 33%;
    color: red;
    background-color: rgba(0, 0, 0, 0.2);
    width: 30%;
    border-style: solid;
    border-width: thick;
    text-align: center;
    font-weight: bold;
  }

  @keyframes shake {
    25% {
      transform: rotate(30deg) scale(1.2);
    }
    50% {
      transform: rotate(-60deg) scale(1.4);
    }
    75% {
      transform: rotate(60deg) scale(1.6);
    }
    100% {
      transform: rotate(-30deg) scale(1.8);
    }
  }

  